/*

*/
body{
	margin: 0;
	font-family: 'Inconsolata', monospace;
	font-size: 14px;
	color: #626262;
}
*,
*:after,
*:before{
	box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
}
.container{
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}
img{
	margin: 0 0 0 0;
}


/*header*/
.header{
	top:0;
	left: 0;
	right: 0;
	width: 100%;
	padding: 70px 0;
}
.header_inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo{
	font-family: 'Inconsolata', monospace;
	font-size: 30px;
	color: #000;

}
.nav{
	font-size: 14px;
	text-transform: uppercase;
}
.nav_link{
	font-family: 'Playfair Display', serif;
	text-decoration: none;
	vertical-align: top;
	display: inline-block;
	margin-right: 95px;
	color: #626262;
	transition: color .2s linear;
}
.nav_link:last-child{
	margin-right: 0;
}
.nav_link:hover{
	color: #b4a079;

}


/*Intro*/
.intro-container{
	max-width: 1160px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
	text-transform: uppercase;
}
.img_intro{
	height:510px;
	width: 100%;
}
.first_post{
	margin: 90px 0 0;
}
.suptitle{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	color: #b4a079;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 20px;

}
.title{
	font-family: 'Playfair Display', serif;
	font-size: 30px;
	color: #626262;
	margin-bottom: 30px;
}
.text{
	margin-bottom: 40px;
	font-size: 14px;
	font-family: 'Playfair Display', serif;
	color: #626262;
	line-height: 1.6;
}
.comment{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	color: #b4a079;
	font-size: 14px;
	text-transform: uppercase;
}


/*Row*/
.row{
	display: flex;
	justify-content: space-between;
	margin: 90px 0;

}
.img_row{
	margin-bottom: 30px;
	display: block;
	max-width: 100%;
	height: auto;
}
.col{
	padding-right: 30px;
}
.col:last-child{
	padding-right: 0;
}


/*Register*/
.section{
	background-color:#f0f0f0;
	padding: 80px 0;
}
.register{
	display: flex;
	justify-content: center;

}
.register_inner{
	max-width: 430px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
	text-align: center;
	position: relative;	
}
.register--title{
	margin-bottom: 80px;
}
.input{
	border:none;
	background: none;
	font-size: 14px;
	font-family: 'Playfair Display', serif;
	color: #626262;
	width: 100%;
	border-bottom: 1px solid #000;
	padding-bottom: 10px;
	position: relative;
		
}

button{
	background-image: url(img/arrow.png);
	position: absolute;
	width: 32px;
	height: 17px;
	right: 0;
	bottom: 8px;
	border: none;
	outline: none;
	cursor: pointer;
}
.input:focus{
	outline: 0;
}
.img_register{
}
/*Btn*/
.btn_section{
	display: block;
	text-align: center;
	margin-bottom: 50px;
}
.btn{
	padding: 15px 20px;
	border: 1px solid #000;
	text-decoration: none;
	color: #626262;
	font-size: 20px;
	font-family: 'Playfair Display', serif;
	background: none;
	transition: color .2s linear,border-color .2s linear;

}
.btn:hover{
	color:#b4a079;
	border-color:#b4a079; 
}

/*Footer*/
.section--footer{
	padding: 30px 0;
}
.footer{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}
.text_footer{
	color: #000;
	font-size: 14px;
	font-family: 'Playfair Display', serif;
	font-weight: 500;
	text-decoration: none;
}
.social_link{
	padding-left: 10px;
	font-size: 16px;
	color: #626262;
	transition: color .2s linear;
}
.social_link:hover{
	color: #b4a079;
}

@media (max-width:1230px){
	.img_intro{
		display: block;
		height: auto;
	}
}
@media (max-width:990px){

}
@media (max-width:770px){
	.nav{
		display: none;
	}
	.first_post{
		margin-top: 25px;
	}
	.row{
		margin: 45px 0;
	}
}
@media (max-width:575px){
	.img_intro{
		display: none;
	}
	.header{
		padding: 25px 0;
	}
	.title{
		margin-bottom: 0;
		font-size: 24px;
	}
	.text{
		margin-bottom: 20px;
	}
	.row{
		flex-wrap: wrap;
	}
	.col{
		width: 100%;
		padding-right: 0;
	}
	.img_row{
		width: 100%;
	}
	.register--title{
		margin-bottom: 20px;
	}
	.section{
    	padding: 40px 0;
	}
	button{
		right: 20px;
	}
	.text_footer{
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	.footer{
		justify-content: center;
	}
	.section--footer{
		padding: 25px 0;
	}
}