*,
*::after,
*::before{
	box-sizing: border-box;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: inherit;
}
body{
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 23px;
}
.container{
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;

}
/*header__top*/
.header__top{
	background: #C8A35F;
	padding: 16px 0;
	color: #fff;
	font-size: 12px;
	line-height: 14px;
}
.header__top-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__language-list{
	display: flex;
	text-transform: uppercase;
}
.header__language-list li+li{
	margin-left: 10px;
}
.header__language-link{
	opacity: 0.5;
	transition: .4s all;
}
.header__language-link:hover{
	opacity: 1;
}
.header__language-link--active{
	opacity: 1;
}
/*header__menu*/
.header__menu{
	background: #2F343A;
	padding: 25px 0;
}
.header__menu-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.05em;
}
.header__menu-logo{
	display: flex;
	align-items: center;
}
.header__logo-img{
	margin-right: 30px;
	position: relative;
}
.header__logo-img::before{
	content: "";
	position: absolute;
	width: 1px;
	height: 46px;
	right:-30px;
	top: 0;
	background-color: #F2F2F2;
}
.header__logo-text{
	white-space: nowrap;
	padding-left: 35px;
	margin-left: 30px;
	position: relative;
}
.header__logo-text::after{
	content: "";
	position: absolute;
	background-image: url(../images/header__logo-iconr.svg);
	width: 25px;
	height: 25px;
	left: 0px;
    transform: translateY(-50%);
    top: 50%;
}
.header__menu-nav{
	display: flex;
}
.header__menu-nav li+li{
	margin-left: 30px;
}
.heder__menu-link{
	text-transform: uppercase;
	transition: .4s all;
}
.heder__menu-link:hover{
	color: #C8A35F;
}
/*header__content*/
.header__content{
	background-image: url(../images/header-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #2F343A;
	background-position: center;
	min-height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header__content-box{
	max-width: 950px;
	padding: 45px 72px;
	text-align: center;
	border: 1px solid #C8A35F;
}
.header__box-title{
	font-weight: 700;
	font-size: 64px;
	line-height: 75px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	margin-bottom: 45px;
}
.header__box-text{
	font-size: 18px;
	line-height: 28px;
}
/*Select-truck*/
.trucks{
	background-image: url(../images/select-truck-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.section-page{
	padding: 120px 0;
}
.trucks__content{
	display: flex;
	justify-content: space-between;	
}
.trucks__content-info{
	width: 445px;
}
.title-page{
	padding-top: 45px;
	font-weight: bold;
	font-size: 40px;
	line-height: 49px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	margin-bottom: 30px;
	position: relative;
}
.title-page::after{
	content: "";
	position: absolute;
	height: 6px;
	width: 90px;
	background: #C8A35F;
	left: 0;
	top: 0;
}
.trucks__info-text{
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 50px;
}
.truck__info-btn{
	font-weight: 500;
	font-size: 16px;
	line-height: 25px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	padding: 18px 50px;
	background: #C8A35F;
	transition: .4s all;
}
.truck__info-btn:hover{
	background: #ebad3b;
}
.trucks__selcet{
	width: 635px;
	position: relative;
}
.trucks__selcet-img{
	padding: 50px 0;
	
}
.slick-arrow{
	background: none;
	font-size: 0;
	border: 0;
	background-repeat: no-repeat;
    height: 23px;
    width: 67px;
    outline: none;
    cursor: pointer;
}
.slick-prev{
	position: relative;
	position: absolute;
	z-index: 1;
	background-image: url(../images/arrow-prev.svg);
	bottom:0;
	right:100px;

}
.slick-next{
	top:0;
	right:0;
	position: absolute;
	background-image: url(../images/arrow-next.svg);
}
.slick-prev::after{
	content: "Назад";
	font-weight: 500;
	font-size: 16px;
	line-height: 25px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #C8A35F;
	position: absolute;
	bottom: 0;
	left:100px;
}
.slick-next::before{
	content: "След";
	font-weight: 500;
	font-size: 16px;
	line-height: 25px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #C8A35F;
	position: absolute;
	top: 0;
	right:100px;
}
/*Services*/
.services{
	background: #2F343A;
	padding-bottom: 120px;
}
.services__inner{
	display: flex;
	
	flex-wrap: wrap;
}
.services__item{
	width: 276px;
	background-color: #393F47;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 35px 42px;
	transition: .4s all;
	border: 1px solid #2F343A;
}
.about__quantity-item--img{
	 height: 250px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    list-style: none;
}
.services__item:hover .services__item-icon{
	background-color: #fff;
}
.services__item:hover .icon{
	fill: #000;
}
.services__item-icon{
	width: 70px;
	height: 70px;
	background-color: transparent;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 23px;
	transition: .4s all;
}
.icon{
	fill: #fff;
	width: 30px;
	height: 30px;
	transition: .4s all;
}
.services__item-text{
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
/*About*/
.about{
	background-image: url(../images/about-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #2F343A;
	padding: 60px 0 200px;
	background-color: #2F343A;	
}
.about__content{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}	
.about__content-info{
	width: 450px;
}
.about__quantity-item{
	background-color: #fff;
	color: #000;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}
.about__quantity-num{
	font-weight: bold;
	font-size: 64px;
	line-height: 75px;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #2F343A;
}
.about__content-quantity{
	width: 600px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 0 0;
}
.about__quantit-title{
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.05em;
	color: #000000;
	margin-bottom: 15px;
}
.about__quantit-descr{
	font-size: 12px;
	line-height: 14px;
	color: #000000;
}

/*Map*/
.map{
	background: #000;
}
.map__content{
	opacity: .4;
	transition: .4s all;
}
.map__content:hover{
	opacity: 1;
}
iframe{
	display: block;
}
/*Footer*/
.footer{
	background: #C8A35F;
	padding: 60px 0 55px;
}	
.footer__content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	line-height: 16px;
	color: #F2F2F2;
	flex-wrap: wrap;
}
.footer__content-logo{
	display: flex;
	align-items: center;
}
.footer__content-img{
	margin-right: 30px;
}
.footer__addresses-location{
	display:block;
	margin-bottom: 10px;
	opacity: 0.8;
}
.footer__addresses-email{
	color: #2F343A;
	display:block;
}
.footer__content-phones a+a{
	margin-top: 10px;
	display: block;
}
.footer__content-author p{
	margin-top: 30px;
	color: #2F343A;
	text-decoration: underline;
}
@media (max-width: 1150px) {
	.services__item{
	width: 50%;
	}
}
@media (max-width: 1070px) {
	
	.trucks__content{
		flex-wrap: wrap;
	}
	.trucks__selcet{
		width: 100%;
		margin-top: 20px;
	}
    .trucks__selcet-img img{
    	margin: auto;
    }
    .slick-arrow{
    	display: none !important;
    }
    .slick-dots{
    	display: flex;
    	justify-content: center;
    }
    .slick-dots li{
    	margin-right: 10px;
    }
    .slick-dots button{
    	background: transparent;
    	font-size: 0;
    	border-radius: 50%;
    	height: 15px;
    	width: 10px;
    	border: 1px solid #C8A35F;
    	outline: none;
    }
     .slick-active button{
    	background-color: #C8A35F;
    }
    .trucks__content-info{
    	width: 100%;
	}
	.about{
		display: none;
	}
	.map__content{
		opacity: 1;
	}

}
@media (max-width: 991px) {
	.header__menu-btn{
		display: block;
		width: 40px;
		height: 30px;
	}
	.header__menu-btn div{
		width: 100%;
		height: 2px;
	    background: #C8A35F;
	    margin-bottom: 10px; 
	}
	.header__menu{
		position: relative;
	}
	.header__menu-nav{
		background-color: #2F343A;
		display: none;
		top: 100px;
		left: 0;
		right: 0;
		border-top:2px solid #C8A35F ;
		position: absolute;
		flex-direction: column;
		text-align: center;
		width: 100%;
	}
	.header__menu-nav a{
		display: block;
	}
	.header__menu-nav li+li{
		margin-left: 0;
		padding:10px;
	}
	.header__menu-nav li{
		padding:10px 0;
		border-bottom: 2px solid #C8A35F ;
	}
	.header__menu-logo{
		flex-wrap: wrap;
	}
	.header__box-title {
    	font-size: 55px;
    	line-height: 45px;
    	margin-bottom: 35px;
	}
	.header__content-box {
    	padding: 40px 30px;
	}
	.map__content iframe{
 		height: 30vh;
 	}

}

@media (min-width: 991px) {
	.header__menu-nav{
		display: flex !important;
	}
}
@media (max-width: 840px){
	.header__box-title {
    	font-size: 50px;
    	line-height: 45px;
    	margin-bottom: 25px;
	}
}
@media (max-width: 760px){
	.section-page {
    	padding: 80px 0;
	}
	.header__content-box {
    	padding: 40px 30px;
	}
	.header__box-title {
    	font-size: 35px;
    	line-height: 37px;
    	margin-bottom: 15px;
	}
	.header__box-text {
    	font-size: 15px;
	}
	.title-page::after {
    	height: 4px;
    	width: 70px;
		}
	.trucks__info-text {
	    margin-bottom: 40px;
	}
	.title-page {
    	padding-top: 36px;
    	font-size: 35px;
    	line-height: 41px;
    	margin-bottom: 25px;
   	}
   	.about__info-text{
   		font-size: 14px;
   	}
   	.footer__content-logo{
   		flex-wrap: wrap;
   	}
   	.footer__content-img{
   		width: 100%;
   		margin-bottom: 15px;
   	}
   	.footer__content-addresses{
   		width: 100%;
   		margin-bottom: 15px;
   	}
   	.footer__content-phones{
   		width: 100%;
   	}
 
}
@media (max-width: 540px){
	.header__content-box {
    	padding: 20px 10px;
	}
	.header__box-title {
    	font-size: 24px;
    	line-height: 37px;
    	margin-bottom: 15px;
	}
	.header__box-text{
    	font-size: 14px;
    	line-height: 22px;
	}
	.about__quantity-item{
		width: 50%;
	}
}
@media (max-width: 460px){
	.header__logo-text{
		margin-left:0;
	}
	.header__logo-img{
		margin-bottom: 10px;
	}
	.header__logo-img:before{
		display: none;
	}
	.header__menu-logo{
		display: block;
	}
	.header__menu-nav{
		top:  126px;;
	}
	.title-page::after {
    	height: 3px;
    	width: 60px;
	}	
	.title-page {
    	padding-top: 30px;
    	font-size: 30px;
    	line-height: 36px;
    	margin-bottom: 21px;
	}
	.trucks__info-text{
    	font-size: 16px;
    	line-height: 28px;
    	margin-bottom: 35px;
	}
	.truck__info-btn {
    font-size: 14px;
	}
	.trucks__selcet-img img{
		width: 100%;
	}
	.section-page {
    	padding: 40px 0;
	}
	.services__item{
		width: 100%;
	}
}






































/*Footer*/
